*{
  margin: 0;
  padding: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dark-mode{
    background-color: #353535;
    color: white;

}
/* Dark Mode*/

/* From uiverse.io by @namecho */
.switch {
 --button-width: 3.5em;
 --button-height: 1.5em;
 --toggle-diameter: 1em;
 --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
 --toggle-shadow-offset: 10px;
 --toggle-wider: 3em;
 --color-grey: #cccccc;
 --color-green: #4296f4;
}

.slider {
 display: inline-block;
 width: var(--button-width);
 height: var(--button-height);
 background-color: var(--color-grey);
 border-radius: calc(var(--button-height) / 2);
 position: relative;
 transition: 0.3s all ease-in-out;
}

.slider::after {
 content: "";
 display: inline-block;
 width: var(--toggle-diameter);
 height: var(--toggle-diameter);
 background-color: #fff;
 border-radius: calc(var(--toggle-diameter) / 2);
 position: absolute;
 top: var(--button-toggle-offset);
 transform: translateX(var(--button-toggle-offset));
 box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
 background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
 box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
 display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
 width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* Grafico */
.flex-container {
  display: flex;
}

.flex-container > div {
  width: 100%;
  height: 500px;
}


/* POP UP */

.popUp-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  position: relative;
  width: 25%;
  /* width: 480px; */
  width: 400px;
  height: 55%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.popUp-close {
  transform: perspective(50px) translateZ(-100px);
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  width: 25px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(230, 16, 16);
}

/* Formulario */

.contenedor-de-cmapos{
  padding: 25px 0;
}

.formulario {
  width: 90%;
  padding: 30px 0;
  margin: auto;
  text-align: center;
}

.formulario legend {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.formulario p {
  padding: 15px 0;
  cursor: pointer;
}

.campo {
  margin-bottom: 25px;
}

.imput-text {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  padding: 15px;
}

.enviar {
  text-align: center;
  margin: 20px 0;
}

.btn {
  border-radius: 6px;
  padding: 11px;
  width: 110px;
  border: none;
  background-color: rgb(255, 181, 43);
  cursor: pointer;
}
.visible{
  opacity: 1;
  visibility: visible;
}